@use 'abstracts/variables' as *;
@use 'components/header';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

* {
  box-sizing: border-box;
}

iframe {
  background: #fff;
  width: 100%;
  height: 64px;
  border: none;
  position: fixed;
  top: 0;
  z-index: 10;
}

.site-header {
  width: 100%;
  height: 64px;
  padding: 16px 112px;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header .container .main-header-logo {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #8B4513;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header .container .main-header__navigation {
  padding-left: 40px;
}

.site-header .container .main-header__navigation .nav-ul {
  max-width: 480px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.site-header .container .main-header__navigation .nav-ul .list-item {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #374151;
  cursor: pointer;
}

.site-header .container .main-header__navigation .nav-ul .list-item:hover {
  color: #8B4513;
}

.site-header .container .main-header__navigation .nav-ul .list-item.active {
  color: #8B4513;
}

.site-header .container .main-header__navigation .nav-ul .list-item.active:hover {
  color: #d4af37;
}

.site-header .container .buttons-wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.site-header .container .buttons-wrapper .magnifying-glass {
  width: 18px;
  height: 21px;
  cursor: pointer;
}

.site-header .container .buttons-wrapper .magnifying-glass:hover {
  filter: brightness(0) saturate(100%) invert(31%) sepia(13%) saturate(4438%) hue-rotate(351deg) brightness(91%) contrast(91%);
}

.site-header .container .buttons-wrapper .shopping-cart {
  width: 20.25px;
  height: 21px;
  position: relative;
  cursor: pointer;
}

.site-header .container .buttons-wrapper .shopping-cart:hover img {
  filter: brightness(0) saturate(100%) invert(31%) sepia(13%) saturate(4438%) hue-rotate(351deg) brightness(91%) contrast(91%);
}

.site-header .container .buttons-wrapper .shopping-cart .count {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -8px;
  top: -6.75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5px 0px 2.5px;
  background: #d4af37;
  border-radius: 9999px;
  z-index: 1;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.site-header .container .buttons-wrapper .order-button {
  max-width: 105px;
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px 16px;
  background: #8B4513;
  border-radius: 6px;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.site-header .container .buttons-wrapper .order-button:hover {
  opacity: 0.9;
}

.hero-section__wrapper {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background: linear-gradient(90deg, #ffe5d4 0%, #fff8f0 100%);
}

.hero-section__wrapper .hero-section__container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 48px;
}

.hero-section__wrapper .hero-section__container .hero-section__left-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-section__wrapper .hero-section__container .hero-section__left-container .hero-section__header {
  max-width: 441px;
  width: 100%;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #8B4513;
}

.hero-section__wrapper .hero-section__container .hero-section__left-container .hero-section__description {
  max-width: 572px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #374151;
}

.hero-section__wrapper .hero-section__container .hero-section__left-container .shop__now-view__menu {
  display: flex;
  gap: 16px;
}

.hero-section__wrapper .hero-section__container .hero-section__left-container .shop__now-view__menu .shop-now__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  flex-direction: column;
  padding: 14px 32px;
  background: #8B4513;
  color: #fff;
  border-radius: 6px;
  font-family: "Inter";
}

.hero-section__wrapper .hero-section__container .hero-section__left-container .shop__now-view__menu .shop-now__button:hover {
  opacity: 0.9;
}

.hero-section__wrapper .hero-section__container .hero-section__left-container .shop__now-view__menu .view-menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 34px;
  border: 2px solid #8b4513;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #8B4513;
  background: none;
}

.hero-section__wrapper .hero-section__container .hero-section__left-container .shop__now-view__menu .view-menu__button:hover {
  background: #8B4513;
  color: #fff;
}

.hero-section__wrapper .hero-section__container .hero-section__right-container {
  max-width: 584px;
  width: 100%;
  border-radius: 8px;
}

.hero-section__wrapper .hero-section__container .hero-section__right-container img {
  border-radius: 8px;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.our-categories__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
}

.our-categories__wrapper .our-categories__container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.our-categories__wrapper .our-categories__container .our-categories__header-content {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: column;
}

.our-categories__wrapper .our-categories__container .our-categories__header-content .our-categories__h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #8B4513;
}

.our-categories__wrapper .our-categories__container .our-categories__header-content .our-categories__p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #374151;
}

.our-categories__wrapper .our-categories__container .categories-grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}

.our-categories__wrapper .our-categories__container .categories-grid__container .grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.our-categories__wrapper .our-categories__container .categories-grid__container .grid-item .grid-image {
  max-width: 280px;
  width: 100%;
  height: 256px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.our-categories__wrapper .our-categories__container .categories-grid__container .grid-item .grid-image:hover {
  background-size: 120%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.our-categories__wrapper .our-categories__container .categories-grid__container .grid-item .grid-header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #8B4513;
  margin-top: 16px;
}

.our-categories__wrapper .our-categories__container .categories-grid__container .grid-item .grid-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #374151;
  margin-top: 8px;
}
/*# sourceMappingURL=main.css.map */