//hero section styles
.hero-section__wrapper {
    margin-top: 64px;
    @include flex(center, center);
    padding: 102px 80px;
    background: linear-gradient(90deg, #ffe5d4 0%, #fff8f0 100%);

    @media screen and (max-width: 1400px) {
        padding: 102px 0;
    }
    @media screen and (max-width: 700px) {
        padding: 0 0 12px 0;
    }

    .hero-section__container {
        max-width: 1280px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 32px;
        @media screen and (max-width: 1015px) {
            flex-wrap: wrap;
            gap: 32px;
        }
        @media screen and (max-width: 700px) {
            padding: 0 14px;
        }

        .hero-section__left-container {
            display: flex;
            flex-direction: column;
            gap: 24px;
            @media screen and (max-width: 1015px) {
                width: 100%;
            }
            .hero-section__header {
                max-width: 441px;
                width: 100%;
                font-family: $font-fairy;
                @include font-style(normal, 700, 60px, 60px);
                color: $brown;
                @media screen and (max-width: 1024px) {
                    @include font-style(normal, 700, 48px, 60px);
                }
                @media screen and (max-width: 1015px) {
                    max-width: 1000px;
                    width: 100%;
                }
            }
            .hero-section__description {
                max-width: 572px;
                width: 100%;
                font-family: $font-inter;
                @include font-style(normal, 400, 20px, 32px);
                color: $grey;
                @media screen and (max-width: 1015px) {
                    max-width: 1000px;
                    width: 100%;
                }
            }
            .shop__now-view__menu {
                display: flex;
                gap: 16px;
                .shop-now__button {
                    @include flex(center, center);
                    @include font-style(normal, 600, 16px, 24px);
                    flex-direction: column;
                    padding: 14px 32px;
                    background: $brown;
                    color: $white;
                    border-radius: 6px;
                    font-family: $font-inter;
                    &:hover {
                        opacity: 0.9;
                    }
                }
                .view-menu__button {
                    @include flex(center, center);
                    padding: 14px 34px;
                    border: 2px solid #8b4513;
                    border-radius: 6px;
                    font-family: $font-inter;
                    @include font-style(normal, 600, 16px, 24px);
                    color: $brown;
                    background: none;
                    &:hover {
                        background: $brown;
                        color: $white;
                    }
                }
            }
        }

        .hero-section__right-container {
            max-width: 584px;
            border-radius: 8px;

            @media screen and (max-width: 1200px) {
                @include flex(flex-end, center);
                margin-left: 32px;
                height: 100%;
            }
            @media screen and (max-width: 1015px) {
                max-width: 1000px;
                width: 100%;
                margin-left: 0;
            }
            img {
                border-radius: 8px;
                box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
                @media screen and (max-width: 1400px) {
                    max-width: 456px;
                    height: 356px;
                }
                @media screen and (max-width: 1015px) {
                    max-width: 1000px;
                    width: 100%;
                    object-fit: cover;
                }
                @media screen and (max-width: 800px) {
                    height: auto;
                }
            }
        }
    }
}

.our-categories__wrapper {
    // @include flex(center, center);
    padding: 64px 80px;
    @media screen and (max-width: 1300px) {
        padding: 64px 32px;
    }
    @media screen and (max-width: 850px) {
        padding: 64px 12px;
    }

    .our-categories__container {
        display: flex;
        flex-direction: column;
        gap: 48px;
        @media screen and (max-width: 600px) {
            justify-content: center;
            align-items: center;
            padding: 64px 12px;
        }
        .our-categories__header-content {
            width: 90%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            gap: 16px;
            flex-direction: column;
            .our-categories__h3 {
                font-family: $font-fairy;
                @include font-style(normal, 700, 36px, 40px);
                color: $brown;
            }
            .our-categories__p {
                font-family: $font-inter;
                @include font-style(normal, 400, 20px, 28px);
                color: $grey;
            }
        }

        .categories-grid__container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 32px;
            @media screen and (max-width: 950px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width: 600px) {
                grid-template-columns: 1fr;
            }
            .grid-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .grid-image {
                    max-width: 280px;
                    width: 100%;
                    height: 256px;
                    border-radius: 8px;
                    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
                    @include background-image(cover, center, no-repeat);
                    cursor: pointer;
                    &:hover {
                        background-size: 120%;
                        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
                    }
                    @media screen and (max-width: 950px) {
                        max-width: 400px;
                    }
                    @media screen and (max-width: 650px) {
                        max-width: 260px;
                    }
                }

                .grid-header {
                    font-family: $font-fairy;
                    @include font-style(normal, 600, 20px, 28px);
                    color: $brown;
                    margin-top: 16px;
                }

                .grid-p {
                    font-family: $font-inter;
                    @include font-style(normal, 400, 16px, 24px);
                    color: $grey;
                    margin-top: 8px;
                }
            }
        }
    }
}

.special-offer__wrapper {
    width: 100%;
    padding: 64px 112px;
    @include flex(center, center);
    background: linear-gradient(
        0deg,
        rgba(212, 175, 55, 1) 0%,
        rgba(250, 204, 21, 1) 100%
    );
    @media screen and (max-width: 1400px) {
        padding: 64px 32px;
    }
    @media screen and (max-width: 900px) {
        padding: 64px 24px;
    }
    @media screen and (max-width: 500px) {
        padding: 64px 12px;
    }
    .special-offer__container {
        max-width: 1215px;
        width: 100%;
        background: rgba(255, 255, 255, 0.95);
        padding: 48px;
        border-radius: 8px;
        @include flex(center, center);
        flex-direction: column;
        box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
        gap: 16px;
        @media screen and (max-width: 400px) {
            padding: 24px;
        }
        .special-offer__header {
            font-family: $font-fairy;
            @include font-style(normal, 700, 36px, 40px);
            color: $brown;
            text-align: center;
        }
        .special-offer__h4 {
            font-family: $font-inter;
            @include font-style(normal, 400, 24px, 32px);
            color: $grey;
            text-align: center;
        }
        .special-offer__p {
            font-family: $font-inter;
            @include font-style(normal, 400, 18px, 28px);
            color: $grey;
            text-align: center;
        }
        .special-offer__claim-button {
            @include flex(center, center);
            padding: 16px 32px;
            background: $brown;
            border-radius: 6px;
            font-family: $font-inter;
            @include font-style(normal, 600, 18px, 28px);
            color: $white;
            &:hover {
                opacity: 0.9;
            }
        }
    }
}

.featured-pastries__wrapper {
    width: 100%;
    padding: 64px 80px;
    @media screen and (max-width: 1200px) {
        padding: 64px 0;
    }
    @include flex(center, center);
    .featured-pastries__container {
        padding: 0 32px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: center;
        .header-component {
            @include flex(center, center);
            flex-direction: column;
            gap: 16px;
            .header-component__header {
                font-family: $font-fairy;
                @include font-style(normal, 700, 36px, 40px);
                color: $brown;
                @media screen and (max-width: 360px) {
                    @include font-style(normal, 700, 24px, 32px);
                }
            }
            .header-component__p {
                font-family: $font-inter;
                @include font-style(normal, 400, 20px, 28px);
                color: $grey;
                letter-spacing: 0.5px;
                @media screen and (max-width: 360px) {
                    @include font-style(normal, 400, 16px, 32px);
                }
            }
        }
        .featured-pastries__grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 32px;
            @media screen and (max-width: 900px) {
                grid-template-columns: 1fr 1fr;
            }
            @media screen and (max-width: 650px) {
                grid-template-columns: 1fr;
            }
            .featured-pastries__grid-item {
                box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
                .image-wrapper {
                    img {
                        width: 100%;
                        height: 100%;
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                    }
                }
                .label-tag {
                    padding: 24px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    .featured-pastries__grid-item-name {
                        max-width: 336px;
                        width: 100%;
                        font-family: $font-fairy;
                        @include font-style(normal, 600, 20px, 28px);
                        color: $brown;
                    }
                    .featured-pastries__grid-item-p {
                        max-width: 336px;
                        width: 100%;
                        word-wrap: break-word;
                        font-family: $font-inter;
                        @include font-style(normal, 400, 16px, 24px);
                        color: $grey;
                    }
                    .price-container {
                        max-width: 336px;
                        width: 100%;
                        @include flex(space-between, center);
                        .price-container__item-price {
                            font-family: $font-inter;
                            @include font-style(normal, 700, 24px, 32px);
                            color: $brown;
                        }
                        .price-container__add-btn {
                            padding: 8px 16px;
                            background: $brown;
                            border-radius: 6px;
                            font-family: $font-inter;
                            @include font-style(normal, 400, 16px, 24px);
                            color: $white;
                            &:hover {
                                opacity: 0.9;
                            }
                        }
                    }
                }
            }
        }
    }
}

.customers-feedback__wrapper {
    background: $lt-brown;
    @include flex(center, center);
    padding: 64px 80px;
    @media screen and (max-width: 1030px) {
        padding: 64px 32px;
    }
    @media screen and (max-width: 810px) {
        padding: 64px 24px;
    }
    .customers-feedback__container {
        @include flex(center, center);
        flex-direction: column;
        gap: 48px;
        .customers-feedback__header {
            font-family: $font-fairy;
            @include font-style(normal, 700, 36px, 40px);
            color: $brown;
        }
        .customers-feedback__grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 32px;
            @media screen and (max-width: 700px) {
                grid-template-columns: 1fr ;
            }
            .customers-feedback__grid-item {
                max-width: 384px;
                width: 100%;
                background: $white;
                padding: 32px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
                .user-wrapper {
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    .user-photo {
                        border-radius: 9999px;
                    }
                    .name-rating {
                        .customer-name {
                            font-family: $font-inter;
                            @include font-style(normal, 600, 16px, 24px);
                            color: $brown;
                        }
                    }
                }
                .customer-feedback {
                    font-family: $font-inter;
                    @include font-style(normal, 400, 16px, 24px);
                    color: $grey;
                    letter-spacing: 0.3px;
                }
            }
        }
    }
}
