.main-container {
    width: 100%;
    margin-top: 64px;
    padding: 24px 0;
    background: linear-gradient(
        -90deg,
        rgba(249, 250, 251, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.product-details__section {
    width: 100%;
    padding: 48px 0;
    display: grid;
}

.details-wrapper {
    max-width: 1216px;
    width: 100%;
    min-height: 761px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.left-container .image-container1 {
    max-width: 576px;
    width: 100%;
    border-radius: 16px;
    position: relative;
}
.image-container1 img {
    max-width: 576px;
    width: 100%;
    border-radius: 12px;
}

.label-tag {
    position: absolute;
    top: 16px;
    right: 16.02px;
    border-radius: 9999px;
    padding: 4px 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1f2937;
    background: #ffffff;
}

.images-flex {
    display: flex;
    gap: 12px;
}

.images-flex img {
    border-radius: 12px;
    cursor: pointer;
}

.images-flex img:hover {
    outline: solid 2px #3b82f6;
}

.right-container {
    max-width: 576px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.car-details-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.span {
    padding: 4px 12px;
    border-radius: 9999px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.span.green {
    background: #dcfce7;
    color: #166534;
}

.span.blue {
    background: #dbeafe;
    color: #1e40af;
}

.car-details-info__header {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #111827;
    margin-top: 12px;
}
.mileage {
    display: flex;
    gap: 24px;
}

.mileage-stats {
    display: flex;
    align-items: center;
    gap: 8px;
}
.mileage-stats img {
    width: 16px;
    height: 16px;
}
.mileage-stats p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4b5563;
}

.price-details {
    width: 100%;
    min-height: 85px;
    display: flex;
    gap: 16px;
}

.price-details h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #111827;
    align-self: flex-start;
}

.price-details div {
    align-self: center;
}

.price-details div > .grey-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #6b7280;
}

.price-details div > .blue-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3b82f6;
}

.buttons-click-wrapper {
    max-width: 576px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.btn {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    cursor: pointer;
}
.btn a{
    color: #ffffff;
} 
.btn > img {
    margin-right: 12px;
}
.btn.black {
    background: linear-gradient(
        -90deg,
        rgba(26, 26, 26, 1) 0%,
        rgba(31, 41, 55, 1) 100%
    );
}

.btn.black:hover {
    font-size: 18.9px;
}

.btn.black:hover img {
    transform: scale(1.1);
}

.btn.transparent {
    border: solid 2px #3b82f6;
    color: #3b82f6;
}

.btn.transparent:hover {
    background: #3b82f6;
    color: #fff;
}

.btn.transparent:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7435%)
        hue-rotate(198deg) brightness(113%) contrast(110%);
}

.btn-transparent {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    background: #fff;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.btn-transparent > img {
    margin-right: 12px;
}

.btn-transparent.heart-svg:hover {
    border: solid 1px #fca5a5;
    background: #f9fafb;
}

.btn-transparent.heart-svg:hover img {
    filter: brightness(0) saturate(100%) invert(43%) sepia(76%) saturate(4996%)
        hue-rotate(341deg) brightness(105%) contrast(84%);
}

.btn-transparent.share:hover {
    background: #f9fafb;
    border: 1px solid #e5e7eb;
}

.contact-dealer {
    width: 100%;
    padding: 33px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: solid 1px #f3f4f6;
    border-radius: 16px;
    background: linear-gradient(
        -31deg,
        rgba(249, 250, 251, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.contact-dealer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #111827;
}

.contact-dealer .contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-dealer div div {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
    border-radius: 12px;
}

.contact-dealer div div:hover {
    background: #fff;
}

.contact-dealer div div p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #111827;
}

.contact-dealer div div div {
    width: 40px;
    height: 40px;
    background: rgba(59, 130, 246, 0.2);
    border-radius: 8px;
    display: grid;
    place-items: center;
}

.vehicle-specs {
    width: 100%;
    padding: 64px 0;
    background: #f9fafb;
}

.vehicle-specs__wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.vehicle-specs__wrapper h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #111827;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}
.grid-container-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 16px;
    padding: 32px;
}
.question-logo__wrapper {
    width: 48px;
    height: 48px;
    background: rgba(59, 130, 246, 0.1);
    display: grid;
    place-items: center;
    border-radius: 12px;
}
.question-logo__wrapper.green {
    background: #dcfce7;
}
.question-logo__wrapper.purple {
    background: #f3e8ff;
}
.specs-wrapper__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.specs-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 9px 0;
    box-shadow: 0 3px #f3f4f6;
}

.specs-wrapper .left {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4b5563;
}

.specs-wrapper .right {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #111827;
}

.standart-features {
    width: 100%;
    padding: 64px 0;
}

.standart-features__wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.standart-features__header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #111827;
}
.feature-grid-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
}
.features-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.features-content__header {
    display: flex;
    gap: 12px;
    align-items: center;
}

.features-content__header div {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    background: #fee2e2;
    border-radius: 8px;
}
.features-content__header .blue {
    background: #dbeafe;
}
.features-content__header .orange {
    background: #ffedd5;
}
.features-content__header h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #111827;
}

.features-content__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.features-content__paragraph {
    display: flex;
    gap: 12px;
}

.features-content__paragraph p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #374151;
}
