body {
    font-family: "Inter", sans-serif;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.shadow {
    width: 100%;
    height: 64px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: fixed;
    top: 0;
    z-index: 3;
    background: #fff
}
.main-header {
    max-width: 1216px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    display: flex;
    padding: 12px 0;
    justify-content: space-between;
    z-index: 10;
    background: #fff;
}

.main-header .main-header__logo {
    max-width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.main-header__logo .main-header__img {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        90deg,
        rgba(102, 126, 234, 1) 0%,
        rgba(118, 75, 162, 1) 100%
    );
}

.main-header__logo > .main-header__header > .autodealer-text {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    background: linear-gradient(
        90deg,
        rgba(79, 70, 229, 1) 0%,
        rgba(147, 51, 234, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.44px;
}

.main-header__navigation {
    display: flex;
    align-items: center;
    margin-top: -1.5px;
}

.main-header__navigation .navigation-ul {
    display: flex;
    align-items: center;
    gap: 4px;
}

.navigation-ul > .navigation-list__item {
    padding: 8px 16px 8px 16.2px;
    font-family: "Inter", sans-serif;
    color: #4b5563;
    font-weight: 500;
    line-height: 20px;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: -1px;
}

.navigation-ul > .navigation-list__item > a{
    color:#4b5563;
}

.navigation-ul > .navigation-list__item:hover {
    background: #eef2ff;
    color: #4f46e5;
}

.buttons-wrapper {
    max-width: 189px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    gap: 15px;
}
.logos-wrap {
    max-width: 80px;
    width: 100%;
    display: flex;
    gap: 18px;
}
.magnifying-glass {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    padding-left: 10px;
    border-radius: 9999px;

    cursor: pointer;
}
.magnifying-glass:hover {
    background: #eef2ff;
}
.magnifying-glass:hover img {
    filter: brightness(0) saturate(100%) invert(27%) sepia(72%) saturate(5714%)
        hue-rotate(241deg) brightness(94%) contrast(91%);
}

.heart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    padding-left: 3px;
    border-radius: 9999px;
}
.heart:hover {
    cursor: pointer;
    background-color: #fef2f2;
}

.heart:hover img {
    filter: brightness(0) saturate(100%) invert(40%) sepia(24%) saturate(2518%)
        hue-rotate(324deg) brightness(100%) contrast(99%);
}

.sign-in__button {
    max-width: 94px;
    width: 100%;
    height: 40px;
    border-radius: 9999px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(
        90deg,
        rgba(79, 70, 229, 1) 0%,
        rgba(147, 51, 234, 1) 100%
    );
    cursor: pointer;
}

.sign-in__button:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 10%),
        0px 4px 6px -4px rgba(0, 0, 0, 10%);
}

.breadcrumb-section__wrapper {
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
}

.nav-ul {
    display: flex;
    gap: 12px;
}

.breadcrumb-navigation__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #6b7280;
}

.breadcrumb-navigation__item > img {
    margin-left: 12px;
}

.breadcrumb-navigation__item.active {
    color: #1a1a1a;
    font-weight: 600;
}