*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

main{
    background:#F9F9F9;
}
.list-items{
    padding:0 16px;
}

.list-item{
    border-left: 4.5px solid #1976D2;
    margin-top:16px;
    padding: 18px 16px 35px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 10%);
}

.list-item .list-header{
    font-family: "Inter";
    font-size: 18.65px;
    font-weight: 700;
}

.list-item .list-description{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    margin-top: 22.5px;
    letter-spacing: 0.12px;
    font-weight: 300;
}
/* ============================== */
/* Orange list section styles  */
/* ============================== */

.orange-quote{
    margin: 16px 16px 0 16px;
    height: 52px;
}


.orange-list-wrapper{
    margin-top: 16px;
    padding: 17px 0 18px 17px;
    background: #FFF3E0;
    border: dashed 1px #FF9800;
}

.orange-list-text{
    font-family: "Inter";
    font-size: 15px;
    font-weight: 300;
}

.orange-list-wrapper .orange-text{
    max-width: 100px;
    width: 100%;
    height: 24.5px;
    font-family: "Inter";
    padding: 3.2px 8px;
    background: #FF9800;
    border-radius: 4px;
    color: #fff;
}

.orange-list-wrapper .yellow-text{
    max-width: 84px;
    width: 100%;
    height: 24.5px;
    font-family: "Inter";
    padding: 3.2px 8px;
    border-radius: 4px;
    color: #000;
    background: #FFFF00;
}

.orange-list-wrapper .red-text{
    max-width: 46px;
    width: 100%;
    height: 21.5px;
    font-family: "Inter";
    padding: 3.2px 8px;
    border-radius: 4px;
    color: #fff;
    background: #E53935;
}

/* ======================== */
/* Table section with cards */
/* ======================== */

.table-section{
    margin: 16px 16px 0 16px;
    background: #E8F5E9;
    border-spacing: 20.5px;
    border: solid 2px #43A047;
}
.container{
    display: table;
}
.table-section .card{
    display: table-cell;
    width:152px;
    height: 122px;
    text-align: center;
    vertical-align: middle;
    background: #FFFFFF;
    border: solid 1px #CCCCCC;
    border-radius: 8px;
    color: #43A047;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
}