* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.main-container {
  padding: 32px;
  background: #f6f7fb;
}

.checklist {
  background: #ffffff;
  border: solid 1px #e5e7eb;
  border-radius: 14px;
  padding: 21px 21px 23px 21px;
}

#checklistHeader {
  height: 33px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 14px;
  margin-top: 3px;
  font-family: "Roboto", sans-serif;
  color: #2563eb;
}
.checkboxes {
  display: inline-block;
  margin-bottom: 3px;
  margin-top: -1px;
}
.checkbox {
  display: block;
  width: 21.4px;
  height: 21.8px;
  border-radius: 4.8px;
}

.checkbox:nth-child(1) {
  margin-top: 4px;
  border: solid 2px #22c55e;
}

.checkbox:nth-child(2) {
  margin-top: 6px;
  border: solid 2px #94a3b8;
}

.checkbox:nth-child(3) {
  margin-top: 6px;
  border: solid 2px #94a3b8;
}

.checkbox:nth-child(4) {
  margin-top: 5px;
  border: solid 2px #94a3b8;
}

.checkbox-texts {
  display: inline-block;
  margin-left: 7px;
  font-size: 16px;
  vertical-align: top;
  margin-top: -5.1px;
}

.checkbox-texts .text {
  height: 22px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-top: 5.6px;
}
.checkbox-texts .text:nth-child(1) {
  display: inline-block;
}
#git {
  height: 18px;
  display: inline-block;
  font-size: 14px;
  color: #475569;
  vertical-align: bottom;
  margin-left: 4px;
  letter-spacing: -0.12px;
}

/* Stepper Section */
/* ======================= */

.stepper {
  background: #ffffff;
  border: solid 1px #e5e7eb;
  border-radius: 14px;
  padding: 21px 21px 26px 21px;
  margin-top: 11px;
}

.stepper h2 {
  height: 33px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 19px;
  font-family: "Roboto", sans-serif;
  color: #2563eb;
  margin-top: 6px;
}
.stepper-container {
  height: 60px;
  border-left: solid 3px #E2E8F0;
  padding:9.6px 0 9.6px 3px;
  margin-top: 4px;
}

.stepper .green-box {
  width: 22px;
  height: 22px;
  border-radius: 4.9px;
  background: #22C55E;
  display: inline-block;
  margin-top: -2.8px;
  scale: 1.3;
  margin-left: 3px;
}

.stepper .green-box-text {
  display: inline-block;
  margin-left: 12px;
  font-size: 16px;
  vertical-align: top;
  margin-top: -3.5px;
}

.green-box-text p{
  font-size: 14px;
  margin-top: 4px;
  letter-spacing: 0.935px;
  margin-left: 1px;
  font-weight: 400;
}

.stepper .orange-box {
  width: 22px;
  height: 22px;
  border-radius: 4.8px;
  background: #F59E0B;
  display: inline-block;
  margin-top: -2.8px;
  scale: 1.3;
  margin-left: 3px;
}

.stepper .orange-box-text {
  display: inline-block;
  margin-left: 12px;
  font-size: 16px;
  vertical-align: top;
  margin-top: -3.5px;
}

.orange-box-text p{
  font-size: 14px;
  margin-top: 4px;
  letter-spacing: 0.935px;
  margin-left: 1px;
  font-weight: 400;
}
.stepper .blue-box {
  width: 22px;
  height: 22px;
  border-radius: 4.8px;
  background: #2563EB;
  display: inline-block;
  margin-top: -2.8px;
  scale: 1.3;
  margin-left: 3px;
}

.stepper .blue-box-text {
  display: inline-block;
  margin-left: 12px;
  font-size: 16px;
  vertical-align: top;
  margin-top: -3.5px;
}
.blue-box-text p{
  font-size: 14px;
  margin-top: 4px;
  letter-spacing: 0.935px;
  margin-left: 1px;
  font-weight: 400;
}
.stepper .red-box {
  width: 22px;
  height: 22px;
  border-radius: 4.8px;
  background: #EF4444;
  display: inline-block;
  margin-top: -2.8px;
  scale: 1.3;
  margin-left: 3px;
}
.stepper .red-box-text {
  display: inline-block;
  margin-left: 12px;
  font-size: 16px;
  vertical-align: top;
  margin-top: -3.5px;
}

.red-box-text p{
  font-size: 14px;
  margin-top: 4px;
  letter-spacing: 0.935px;
  margin-left: 1px;
  font-weight: 400;
}
div>h4{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.stepper-container > div > p{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #475569;
}


/* Menu Lists */
/* ================================ */

.menu{
    padding: 21px 21px 17px 21px;
    background: #FFFFFF;
    margin-top: 16px;
    border: solid 1px #E5E7EB;
    border-radius: 14px;
}

.menu > .main-menu{
    border: solid 1px #E5E7EB;
    background: #F8FAFC;
    border-radius: 8px;
    margin-top: 17px;
}

.menu > h2{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #2563EB;
    margin-top: 2.5px;
}

.menu > .main-menu > .menu-item {
    height:60px;
    background: #FFFFFF;
    padding: 10px 0 10px 12px;
    border: solid 1px #E5E7EB;
}

.menu > .main-menu > .menu-item > h4{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #0F172A;
    letter-spacing: 0.1px;
}

.menu > .main-menu > .profile-wrapper{
    height: 37px;
    background: #F8FAFC;
    padding-top: 8.2px;
}

.menu > .main-menu > .profile-wrapper > h3{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #475569;
    margin-left: 12px;
    margin-top:3.5px;
}

.menu-text{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #64748B;
    margin-top: 7px;
    letter-spacing: 0.15px;
}

.main-menu > .workspace-wrapper{
    height: 37px;
    background: #F8FAFC;
    padding-top: 8.2px;
}

.main-menu > .workspace-wrapper > h3{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #475569;
    margin-left: 12px;
    margin-top: 3px;
}