*{
    box-sizing: border-box;
}
.iframe-header {
    background: #fff;
    width: 100%;
    height: 64px;
    border: none;
    position: fixed;
    top: 0;
    z-index: 10;
}


.iframe-footer{
    width: 100%;
    height: 349px;
    border: none;
    z-index: 10;
}