<header class="header">
    <div class="header-wrapper">
        <h4 class="header-h4">
            Choose your preferred seats and enter guest details
        </h4>
    </div>
</header>

<main class="main-container">
    <div class="screen-wrapper">
        <div class="screen-gradient"></div>
        <h3 class="screen-header">SCREEN</h3>
    </div>

    <div class="seats-container">
        <div class="seat-numbers-container">
            <div *ngFor="let seat of cols" class="seat-numbers">{{ seat }}</div>
        </div>

        <div *ngFor="let row of rows" class="row">
            <div>{{ row }}</div>

            <div
                *ngFor="let seat of getSeatsByRow(row)"
                class="seat"
                [ngClass]="seat.status"
                (click)="onSeatClick(seat)"
            >
                <img src="../assets/seat.svg" />
            </div>
        </div>
    </div>

    <app-booking-form
        *ngIf="selectedSeats.length > 0"
        [selectedSeats]="selectedSeats"
        (submitAllForms)="onSubmitAllForms()"
    ></app-booking-form>
</main>

<footer class="footer">
    <p class="footer-text">Movie Seat Selection System - 2025</p>
</footer>
