// Font names;
$font-fairy: "Playfair Display";
$font-inter: "Inter";

//Colors:
$black: #000;
$brown: #8b4513;
$white: #fff;
$yellow: #d4af37;
$grey: #374151;
$lt-brown: #fff8f0;
$lt-grey: #d1d5db;
$border-grey: #4b5563;
$grey-btn: #f3f4f6;
$select: #efefef;
$border: #e5e7eb;
$menu-background: #fff8f0;
