$primary-button: #3b82f6;
$secondary-button: #64748b;
$success-button: #10b981;
$warning-button: #f59e0b;
$danger-button: #ef4444;
$disabled-button: #cbd5e1;
$disabled-text:#94A3B8;

$primary-hover: #2563eb;
$secondary-hover: #475569;
$success-hover: #059669;
$warning-hover: #d97706;
$danger-hover: #dc2626;

$primary-active: #1d4ed8;
$secondary-active: #334155;
$success-active: #047857;
$warning-active: #b45309;
$danger-active: #b91c1c;
