<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
</head>

<body>
    <footer class="footer-wrapper">
        <div class="footer-container">
            <div class="footer-container__item">
                <h2 class="footer-header-h2">Sweet Delights</h2>
                <p class="footer-p">
                    Crafting exceptional pastries since 1985. Made with love,
                    served with pride.
                </p>
                <div class="socials">
                    <img src="../images/logos/variant=3.svg" alt="facebook" />
                    <img src="../images/logos/variant=5.svg" alt="instagram" />
                    <img src="../images/logos/variant=7.svg" alt="twitter" />
                </div>
            </div>
            <div class="footer-container__item">
                <h3 class="footer-h3">Quick Links</h3>
                <ul class="footer-ul">
                    <li class="ul-li">Home</li>
                    <li class="ul-li">Pastries</li>
                    <li class="ul-li">Cakes</li>
                    <li class="ul-li">About Us</li>
                </ul>
            </div>
            <div class="footer-container__item">
                <h3 class="footer-h3">Contact Info</h3>
                <ul class="footer-ul">
                    <li class="ul-li img">
                        <img
                            src="../images/logos/variant=8.svg"
                            alt="phone"
                        />(555) 123-4567
                    </li>
                    <li class="ul-li img">
                        <img
                            src="../images/logos/variant=9.svg"
                            alt="phone"
                        />info@sweetdelights.com
                    </li>
                    <li class="ul-li img">
                        <img
                            src="../images/logos/variant=10.svg"
                            alt="location"
                        />123 Baker Street, City
                    </li>
                </ul>
            </div>
            <div class="footer-container__item">
                <h3 class="footer-h3">Store Hours</h3>
                <ul class="footer-ul">
                    <li class="ul-li">Monday - Friday: 6AM - 8PM</li>
                    <li class="ul-li">Saturday: 7AM - 9PM</li>
                    <li class="ul-li">Sunday: 8AM - 6PM</li>
                </ul>
            </div>
        </div>
        <div class="copyright">© 2024 Sweet Delights. All rights reserved.</div>
    </footer>
</body>
