<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../sass/css/main.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <header class="site-header">
            <div class="container">
                <a href="../index.html" class="main-header-logo" target="_parent"
                    >Sweet Delights</a
                >
                <nav class="main-header__navigation">
                    <ul class="nav-ul">
                        <li class="list-item active">Home</li>
                        <li class="list-item">Pastries</li>
                        <li class="list-item">Cakes</li>
                        <li class="list-item">About</li>
                        <li class="list-item">Contact</li>
                    </ul>
                </nav>
                <div class="buttons-wrapper">
                    <div class="magnifying-glass">
                        <img
                            src="../images/logos/variant=12.svg"
                            alt="magnifying glass"
                        />
                    </div>
                    <div class="shopping-cart">
                        <img
                            src="../images/logos/variant=14.svg"
                            alt="shopping cart"
                        />
                        <div class="count">3</div>
                    </div>
                    <button type="button" class="order-button">
                        Order Now
                    </button>
                </div>
            </div>
        </header>
    </body>
</html>
